In [32]:
import pandas as pd
import numpy as np

# 读取数据

In [47]:
data = pd.read_csv('data-1.csv')

In [48]:
data.head()

,Rank,Movie,Release,Distributor,Genre,Gross,Tickets Sold
0,1,Ghost,1990-07-13,Paramount Pictures,Drama,217631306.0,51571399.0
1,2,Pretty Woman,1990-03-23,Walt Disney,Romantic Comedy,178406268.0,42276366.0
2,3,Home Alone,1990-11-16,20th Century Fox,Comedy,176954863.0,41932431.0
3,4,Teenage Mutant Ninja Turtles,1990-03-30,New Line,Adventure,135265915.0,32053534.0
4,5,The Hunt for Red October,1990-03-02,Paramount Pictures,Thriller/Suspense,120709866.0,28604233.0

# 获取xy坐标

In [49]:
x = []
y = []
with open('song-coordinate.txt') as f: 
    line = f.readline()
    while line: 
        line = line[1:-2].split(',')
        x.append(float(line[0]))
        y.append(float(line[1]))
        line = f.readline()

In [50]:
len(x), len(y)

(2010, 2010)

# 添加xy坐标

In [51]:
data_crop = data.iloc[:2010, :]
data_crop['x'] = x
data_crop['y'] = y
data_crop.head()

/Users/leongvan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/leongvan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Rank,Movie,Release,Distributor,Genre,Gross,Tickets Sold,x,y
0,1,Ghost,1990-07-13,Paramount Pictures,Drama,217631306.0,51571399.0,887.85,169.88
1,2,Pretty Woman,1990-03-23,Walt Disney,Romantic Comedy,178406268.0,42276366.0,930.50,265.54
2,3,Home Alone,1990-11-16,20th Century Fox,Comedy,176954863.0,41932431.0,784.02,145.53
3,4,Teenage Mutant Ninja Turtles,1990-03-30,New Line,Adventure,135265915.0,32053534.0,859.17,281.43
4,5,The Hunt for Red October,1990-03-02,Paramount Pictures,Thriller/Suspense,120709866.0,28604233.0,815.22,302.71

# 更改column names

In [52]:
data_crop.columns = ['rank', 'title', 'releaseYear', 'artist', 
                     'listType', 'listHighestRank', 'Tickets Sold', 'x', 'y']

In [53]:
data_crop.head()

,rank,title,releaseYear,artist,listType,listHighestRank,Tickets Sold,x,y
0,1,Ghost,1990-07-13,Paramount Pictures,Drama,217631306.0,51571399.0,887.85,169.88
1,2,Pretty Woman,1990-03-23,Walt Disney,Romantic Comedy,178406268.0,42276366.0,930.50,265.54
2,3,Home Alone,1990-11-16,20th Century Fox,Comedy,176954863.0,41932431.0,784.02,145.53
3,4,Teenage Mutant Ninja Turtles,1990-03-30,New Line,Adventure,135265915.0,32053534.0,859.17,281.43
4,5,The Hunt for Red October,1990-03-02,Paramount Pictures,Thriller/Suspense,120709866.0,28604233.0,815.22,302.71

In [54]:
data_crop['listHighestRank'] = data_crop['listHighestRank'].apply(lambda x: np.log(x))

/Users/leongvan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
data_crop.to_csv('data.csv')